aiohttp
fastapi
numpy
requests
tabulate
tqdm
typing_extensions
uvicorn
websockets
pillow
huggingface_hub
gradio
psutil
grpcio==1.68.1
lz4==4.3.3
mlx
mlx_lm==0.19.2
protobuf==5.28.3
pydantic==2.9.2
transformers==4.46.0